@model PagedList.IPagedList<AdopcionMascotas.Models.Mascota>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Mis mascotas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Mis mascotas</h2>

<p>
    @Html.ActionLink("Crea una nueva mascota", "Create")
</p>
<table class="table">
    <tr>
        <th></th>
        <th>
            @Html.ActionLink("Nombre", "Index", new { ordena = ViewBag.Nombre })
        </th>
        <th>
            @Html.ActionLink("Raza", "Index", new { ordena = ViewBag.Raza })
        </th>
        <th>
            @Html.ActionLink("Color", "Index", new { ordena = ViewBag.Color })
        </th>
        <th>
            @Html.ActionLink("Tamaño", "Index", new { ordena = ViewBag.Tamaño })
        </th>
        <th>
            @Html.ActionLink("Sexo", "Index", new { ordena = ViewBag.Sexo })
        </th>
        <th>
            @Html.ActionLink("Edad", "Index", new { ordena = ViewBag.Edad })
        </th>
        <th>
            @Html.ActionLink("Tipo", "Index", new { ordena = ViewBag.Tipo })
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Historia)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <th><img class ="img-responsive" src = "@item.Fotos.ElementAt(0).Url"/></th>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Raza)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Color)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tamaño)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sexo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Edad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tipo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Historia)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.ID }) |
                @Html.ActionLink("Detakkes", "Details", new { id = item.ID }) |
                @Html.ActionLink("Eliminar", "Delete", new { id = item.ID })
            </td>
        </tr>
    }
</table>
Pagina @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) de @Model.PageCount
@Html.PagedListPager(Model, pag => Url.Action("Index", new { pag, ordena = ViewBag.OrdenaActual, filtro = ViewBag.Filtro }))