@model IEnumerable<AdopcionMascotas.Models.SolicitudAdopcion>

@{
    ViewBag.Title = "Solicitudes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Solicitudes</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Mascota.Nombre)
        </th>
        <th>
            Nombre solicitante:
        </th>
        <th>
            Fecha de solicitud:
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Estado):
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Mascota.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PadreAdoptivo.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fecha_Adop)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Estado)
        </td>
        <td>
            @Html.ActionLink("Aprobar petición", "Aprobar", new { SolicitudID = item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @if(User.IsInRole("Admin"))
            {
                @Html.ActionLink("Delete", "Delete", new { id=item.ID })   
            }
             
        </td>
    </tr>
}

</table>
