@model AdopcionMascotas.Models.FundacionMascotaFoto
@{
    ViewBag.Title = "Fundaciones";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Fundaciones</h2>

<p>
    @Html.ActionLink("Create New", "Create")
    @using (Html.BeginForm())
    {

        <text>
            Ciudad: @Html.DropDownList("ciudad", (SelectList)ViewBag.ciudades, "Seleccione")<br />
            Buscar fundacion por nombre: @Html.TextBox("nombre") <br />
            <input type="submit" value="Buscar" />
        </text>
    }
</p>
<table class="table">
    <tr>
        <th></th>
        <th>Nombre</th>
        <th>Telefono</th>
        <th>direccion</th>
        <th>Ciudad</th>
        <th>Barrio</th>
        <th>Correo</th>
    </tr>

    @foreach (var item in Model.Fundaciones)
    {
        string seleccionada = "";

        if (item.ID == ViewBag.FundacionID)
        {
            seleccionada = "success";
        }
        <tr class="@seleccionada">
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefono)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dirección)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ciudad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Barrio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Correo)
            </td>
            <td>
                @Html.ActionLink("Ver Mascotas", "Index", new { id = item.ID }) |
                @Html.ActionLink("Editar", "Edit", new { id = item.ID }) |
                @Html.ActionLink("Detalles", "Details", new { id = item.ID }) |
                @Html.ActionLink("Eliminar", "Delete", new { id = item.ID })
            </td>
        </tr>
    }

</table>

@if (Model.Mascotas != null)
{
    <h3>Mascotas de la fundación</h3>

    <table class="table">
        <tr>
            <th>Nombre</th>
            <th>Raza</th>
            <th>Color</th>
            <th>Tamaño</th>
            <th>Sexo</th>
            <th>Edad</th>
            <th>Tipo</th>
            <th>Su historia</th>

        </tr>


        @foreach (var item in Model.Mascotas)
        {
            string seleccionada1 = "";
            if (item.ID == ViewBag.MascotaID)
            {
                seleccionada1 = "success";
            }

            <tr class="@seleccionada1">
                @if (item.Fotos.Count > 0)
                {
                    <th><img class="img-responsive" src="@item.Fotos.ElementAt(0).Url" /></th>
                }
                else
                {
                    <th><img class="img-responsive" src="" /></th>
                }

                <td>@item.Nombre</td>
                <td>@item.Raza</td>
                <td>@item.Color</td>
                <td>@item.Tamaño</td>
                <td>@item.Sexo</td>
                <td>@item.Edad</td>
                <td>@item.Tipo</td>
                <td>@item.Historia</td>

                <td>
                    @Html.ActionLink("Ver fotos", "Index", new { MascotaID = item.ID })
                </td>
                <td>
                    @Html.ActionLink("Adoptar", "Create", "PadresAdoptivos", new { MascotaID = item.ID }, null)
                </td>

            </tr>
        }

    </table>
}

@if (Model.Fotos != null)
{
    <h3>Fotos de la mascota seleccionada</h3>
    <body>
          <div class="container">
            <div class="row">

                @foreach (var item in Model.Fotos)
                {
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3">
                        <p>
                            <img class="img-responsive" src=@item.Url />
                        </p>
                    </div>
                }
            </div>
        </div>
    </body>
}

