@model AdopcionMascotas.Models.SolicitudFotos
@{
    ViewBag.Title = "Mis solicitudes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Mis solicitudes</h2>

<table class="table">
    <tr>
        <th>
            Nombre de la mascota:
        </th>
        <th>
            Fecha de solicitud:
        </th>
        <th>
            Estado de la solicitud:
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.Solicitudes)
    {
        string seleccionada = "";

        if (item.ID == ViewBag.SolicitudID)
        {
            seleccionada = "success";
        }
        <tr class="@seleccionada">
            <td>
                @Html.DisplayFor(modelItem => item.Mascota.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fecha_Adop)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estado)
            </td>
            <td>
                @Html.ActionLink("Ver Fotos", "Index", new { id = item.ID }) |
                @Html.ActionLink("Eliminar", "Delete", new { id = item.ID })
            </td>
        </tr>
    }

</table>

@if (Model.Fotos != null)
{
    <body>
        <div id="micarrusel" class="carousel slide" data-ride="carousel">
            <!--Declara los indicadores para tres diapositivas, la primea activa-->
            <ol class="carousel-indicators">
                <li data-target="#micarrusel" data-slide-to="0" class="active"></li>
                <li data-target="#micarrusel" data-slide-to="1"></li>
                <li data-target="#micarrusel" data-slide-to="2"></li>
            </ol>
            <!--Declara los items para las diapositivas-->
            <div class="carousel-inner">

                <div class="item active">
                    <img class="slide1" src="@Model.Fotos.ElementAt(0).Url" />
                </div>

                @for (int i = 1; i < Model.Fotos.Count(); i++)
                {
                    <div class="item">
                        <img class="slide1" src="@Model.Fotos.ElementAt(i).Url" />
                        <!--Cption es donde se coloca el texto en un h1 y un p-->
                        <div class="carousel-caption">
                        </div>
                    </div>
                }
            </div>
            <a class="left carousel-control" href="#micarrusel" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            <a class="right carousel-control" href="#micarrusel" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
        </div>
    </body>
}